/***********************HOME PAGE**********************HOME PAGE****************************/

/*creates parallax scrolling effect*/
body{
    background-image: url(../images/black-paw.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.jumbotron {
    background-color: blue;
    color: white;
    opacity: .75;
    height: 470px;
}

#header {
    margin-top: 0;
    height: ;
}

h1 {
    font-family: 'IM Fell Great Primer', serif;
    font-size: 60px;
    text-align: center;
}

#large-b {
    font-size: 120px;
    color: lime;
}

#large-first-f {
    font-size: 120px;
    color: orange;
}

#large-second-f {
    font-size: 120px;
    color: red;
}

#pinkPaw {
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

#links {
    text-align: center;
}

#dogButton {
    margin-right: 10px;
}

#dogButton:hover, #ownerButton:hover, #homeButton:hover {
    background: orange;
}

#playful, #affectionate, #smart {
    font-family: 'IM Fell Great Primer', serif;
    position: relative;
    top: 215px;
    font-size: 60px;
    display: inline;
    vertical-align: middle;
}

#playful {
    color: orange;
    left: -435px;
}

#smart {
    color: blue;
    right: -430px;
}

#affectionate {
    color: green;
    left: -500px;
}

#container-one, #container-three{
    padding-right: 0;
    margin-right: 0;
    width: 100%;
}

#container-two {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
}

#one, #two, #three {
    height: 500px;
    width: 600px;
    margin-bottom: 200px;
    display: block;
}

#one {
    margin-top: 200px;
    float: right;
    background: lime url(../images/playful.png) no-repeat;
    background-size: 140%;
}

#two {
    float: left;
    background: orange url(../images/smart.png) no-repeat;
    background-position: center bottom;
}

#three {
    float: right;
    background: red url(../images/affectionate.png) no-repeat;
    background-position: center bottom;
}

#scroll {
    font-size: 25px;
    text-align: center;
    display: block;
    margin-top: 100px;
    color: lime;
}

#arrow {
    margin: 0 auto;
    display: block;
    height: 40px;
    width: auto;
}

.btn-links {
    color: #fff;
    background-color: lime;
    border: blue solid 1px;
}

h2 {
    font-size: 40px;
}

#firstEndLabel, #secondEndLabel {
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
}

#firstEndLabel {
    color: red;
    margin-top: -10px;
    font-weight: bold;
}

#bottomJumbotron {
    height: 520px;
}

#secondEndLabel {
    color: orange;
    text-align: center;
    margin-bottom: 30px;
}

#pupLink, #peopleLink {
    color: lime;
    font-size: 17px;
    margin: 10px;
}

footer {
    text-align: center;
    margin-top: -10px;
}

#maria {
    display: block;
    font-size: 15px;
}

#jumboFooter {
    height: 400px;
}

/***********************SURVEY PAGES**********************SURVEY PAGES****************************/

.panel {
    border: lime solid 2px;
}

.panel-heading {
    height: 70px;
}

#surveyTitle {
    font-family: 'IM Fell Great Primer', serif;
    color: magenta;
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    background-color: lime;
}

.surveyLabel {
    background: magenta;
}

.questionLabel {
    color: blue;
}

#submit {
    background: lime;
}

#submitDiv {
    text-align: center;
}

#submit:hover {
    background: magenta;
}

#bestFriendImg {
    height: 300px;
    width: 300px;
}

.modal-body, .modal-title {
    text-align: center;
    font-family: 'IM Fell Great Primer', serif;
}

.modal-title {
    color: blue;
}

.modal-body {
    color: lime;
    margin-bottom: 30px;
}

#x {
    font-size: 50px;
}

/************ MEDIA 1200 MEDIA 1200 MEDIA 1200 MEDIA 1200 MEDIA 1200 *******************************/

@media screen and (max-width: 1200px) {
    #surveyTitle {
        color: pink;
    }

    h1 {
        font-size: 50px;
        margin-top: 0;
    }

    #large-b, #large-first-f, #large-second-f {
        font-size: 70px;
    }

    .jumbotron {
        height: 350px;
    }

    #pinkPaw {
        height: 75px;
        margin-bottom: 48px;
    }

    #dogButton, #ownerButton {
        margin: 0 auto;
        padding: 6px;
    }

    #homeButton {
        padding: 7px;
    }

    #one, #two, #three {
        height: 420px;
        width: 520px;
    }

    h2 {
        font-size: 35px;
    }
    
    #secondEndLabel {
        margin-bottom: 0;
    }
    
    #bottomJumbotron {
        height: 500px;
    }

    #two, #three {
        background-size: 80%;
    }

    #jumboFooter {
        height: 350px
    }

}

/************ MEDIA 980 MEDIA 980 MEDIA 980 MEDIA 980 MEDIA 980 *******************************/

@media screen and (max-width: 980px) {

    #surveyTitle {
        color: blue;
    }

    h1 {
        font-size: 50px;
        margin-top: 0;
    }

    #large-b, #large-first-f, #large-second-f {
        font-size: 70px;
    }

    .jumbotron {
        height: 350px;
    }

    #pinkPaw {
        height: 75px;
        margin-bottom: 48px;
    }

    #dogButton, #ownerButton {
        margin: 0 auto;
        padding: 6px;

    }

    #one, #two, #three {
        height: 300px;
        width: 400px;
    }

    #playful, #affectionate, #smart {
        top: 90px;
        font-size: 55px;
    }

    #playful {
        left: -330px;
    }

    #smart {
        left: 320px;
    }

    #affectionate {
        left: -370px;
    }

    h2 {
        font-size: 27px;
    }
    
    #secondEndLabel {
        margin-bottom: 0;
    }
    
    #bottomJumbotron {
        height: 440px;
    }

    #two, #three {
        background-size: 80%;
    }

}

/************ MEDIA 768 MEDIA 768 MEDIA 768 MEDIA 768 MEDIA 768 *******************************/

@media screen and (max-width: 768px) {

    #surveyTitle {
        color: red;
    }

    .jumbotron {
        height: 330px;
    }

    #one, #two, #three {
        height: 240px;
        width: 340px;
    }

    #playful {
        left: -300px;
    }

    #smart {
        left: 280px;
    }

    #affectionate {
        left: -320px;
    }
    
    #bottomJumbotron {
        height: 400px;
    }

    #jumboFooter {
        height: 330px
    }

}

/************ MEDIA 640 MEDIA 640 MEDIA 640 MEDIA 640 MEDIA 640 *******************************/

@media screen and (max-width: 640px) {

    #surveyTitle {
        color: purple;
    }

    .jumbotron {
        height: 300px;
    }

    #pinkPaw {
        height: 75px;
        margin-bottom: 33px;
    }

    #playful, #affectionate, #smart {
        top: -80px;
        font-size: 50px;
    }

    #playful {
        left: -240px;
    }

    #smart {
        left: 210px;
    }

    #affectionate {
        left: -220px;
    }
    
    #bottomJumbotron {
        height: 430px;
    }

    #jumboFooter {
        height: 310px
    }

}

/************ MEDIA 520 MEDIA 520 MEDIA 520 MEDIA 520 MEDIA 520 *******************************/

@media screen and (max-width: 520px) {

    #surveyTitle {
        color: black;
    }

    h1 {
        font-size: 40px;
    }

    #large-b, #large-first-f, #large-second-f {
        font-size: 50px;
    }

    .jumbotron {
        height: 300px;
    }

    #header {
        height: 250px;
    }

    #pinkPaw {
        height: 50px;
        margin-bottom: 40px;
    }

    #dogButton, #ownerButton {
        margin: -10px auto 0 auto;
        padding: 4px;
    }

    #homeButton {
        margin-top: -10px;
        padding: 6px;
    }

    #one, #two, #three {
        height: 200px;
        width: 300px;
        margin-bottom: 150px;
    }

    #playful, #affectionate, #smart {
        top: -70px;
        font-size: 50px;
    }

    #playful {
        left: -140px;
    }

    #smart {
        left: 130px;
    }

    #affectionate {
        left: -80px;
    }

    h2 {
        font-size: 25px;
    }
    
    #secondEndLabel {
        margin-bottom: 0;
    }
    
    #bottomJumbotron {
        height: 400px;
    }

    #two, #three {
        background-size: 85%;
    }

    #jumboFooter {
        height: 290px
    }

}













